@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.App {
    width: 100%;
    background:#0b0c10;
    background-size: 400% 400%;
    animation: gradient_anim 23s ease infinite;
    margin-bottom: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

        
@keyframes gradient_anim {
  0% {
      background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}